# VS Code project files
.vscode/*
# Usually contains build files, which aren't needed on the GitHub repo and also take up more than needed space when cloning or pushing commits to GitHub.
export/*
Export/*
# System Files
.DS_Store
.directory
desktop.ini