# Usually contains build files, which aren't needed on the GitHub repo and also take up more than needed space when cloning or pushing commits to GitHub.
export/
# This is a hidden file created by MacOS that saves custom properties of a folder, usually view options or file positions, or whatever other visual information.
.DS_Store
# This is a less hidden file created by some Linux distros, from what I know, all this is responsible for is extra folder configuration, for like a custom icon and such.
.directory